/* body {
	color: black;
} */

/* ul {
	padding-left: 20px;
} */

/* With border */
/* .highlight-img {
	width: 90%;
	padding: 1%;
	margin-left: 4%;
	margin-bottom: 15px;
	border: 1px solid #009ad1;
	border-radius: 5px;
} */