:root {
    --body: rgb(158, 198, 241);
    --box: white;
    --main: rgb(69, 74, 82); 
}

.horizontal_center {
    text-align: center;
}

body {
    background-color: var(--body);
}

.box-1 {
    background-color: var(--box);
    padding: 10px;
    color:  var(--main);
    width: 720px;
    margin: auto;
    text-align: center;
}