:root {
    /* --body: rgb(220, 220, 220); */
    --body: rgb(158, 198, 241);
    --box: white;
    --main: rgb(69, 74, 82); 
    --width: 800px;
}

.horizontal_center {
    text-align: center;
}

body {
    background-color: var(--body);
}

.name_and_pic {
    background-color: var(--box);
    color:  var(--main);
    text-align: center;
}

.bio {
    margin: auto;
    text-align: left;
    width: 400px;
}

.socials {
    margin: auto;
    width: 400px;
}

.box-1 {
    background-color: var(--box);
    padding: 10px;
    color:  var(--main);
    width: var(--width);
    margin: auto;
    text-align: left;
    overflow: hidden;
}

.research {
    padding: 10px;
}

.research_item {
    padding: 0px;
    /* border: solid var(--main); */
    overflow: hidden;
}

.research_img {
    float: left;
    width: 200px;
    padding: 0px, 10px, 10px, 10px;
    vertical-align: middle;
}

.research_text {
    float: right;
    width: 560px;
    padding: 10px, 0px, 10px, 10px;
    vertical-align: middle;
}